body
{
    background-color: #000000;
    color: #228822;
}

h3
{
    color: #CC8833;
}

.nav1
{
    display: flex;
    background-color: #222222;
}

.navitem
{
    background-color: #555522;
    flex-grow: 1;
}

.app
{
    background-color: #333333;
    color: #338833;
}

.main
{
    width: 100%;
    height: 80vh;
    border-width: 0px;
    border-collapse: collapse;
}